# Unity Assets
*.meta merge=unityyamlmerge diff=unityyamlmerge
*.asset merge=unityyamlmerge diff=unityyamlmerge
*.prefab merge=unityyamlmerge diff=unityyamlmerge
*.unity merge=unityyamlmerge diff=unityyamlmerge
*.mat merge=unityyamlmerge diff=unityyamlmerge